/* CSS RESET */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Google Font */
body {
	font-family: 'Open Sans', sans-serif;
}

nav {
	background-color: white;
	display: inline;
	padding: 0.8px;
	position: sticky;
	margin-bottom: 2rem;
}

.nav-logo {
	display: inline;
	padding-left: 10%;
}

.right-nav {
	display: inline;
	padding-left: 15%;
	padding-right: 5%;
}

.nav {
	display: inline;
	margin: 1rem;
}

.tuitt-button {
	font-weight: bold;
	background-color: #c2195d;
	border-radius: 25px;
	font-size: 1rem;
	padding: 0.5rem;
	color: white;
}

#bg-image {
	min-height: 65vh;
	text-align: right;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	background-attachment: scroll;
	color: white;
}

.front-bg {
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 65vh;
}

.container {
	padding-left: 50%;
	padding-right: 10%;
	padding-top: 0.5rem;
	padding-bottom: 3rem;
}

.title {
	margin-bottom: 2rem;
	font-family: 'Times New Roman';
	font-size: 35px;
}

.subtitle {
	margin-bottom: 1rem;
	font-size: 18px;
	padding-left: 30%;
}

.apply-button {
	font-weight: bold;
	background-color: #c2195d;
	border-radius: 25px;
	font-size: 1rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	color: white;
}

.intro {
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.title-2 {
	margin-top: 2%;
	margin-bottom: 5%;
	font-family: 'Times New Roman';
	font-size: 25px;
}

.intro-description {
	margin-top: 7%;
	margin-bottom: 3%;
	font-size: 14px;
	text-align: left;
}

.pre-footer {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 3rem;
	padding-bottom: 10%;
	font-size: 14px;
	text-align: center;
	background-color: #F5FCFF;
}

.prefooter-description {
	margin-bottom: 1rem;
}

.book-button {
	font-weight: bold;
	background-color: #00334F;
	border-radius: 25px;
	font-size: 1rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	color: white;
}

footer {
	text-align: center;
	font-size: 14px;
}